body {
    background-color: pink;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#carta {
    display: none;
    margin: 50px;
    padding: 50px;
    border: 2px solid black;
    text-align: center;
    animation: fadeIn 2s;
}

.botao-carta {
    display: block;
    width: 200px;
    height: 100px;
    margin: 20px auto;
    background-image: url('https://imagizer.imageshack.com/img924/7711/C4Q4f6.jpg');
    background-size: cover;
    border: none;
    color: white;
    font-size: 1.5em;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin: auto;
  }
  
  .heart::before, .heart::after {
    content: "";
    position: absolute;
    top: 40px;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: red;
  }
  
  .heart::before {
    left: 50px;
    transform: rotate(-45deg);
  }
  
  .heart::after {
    left: 0;
    transform: rotate(45deg);
  }
  
  .heart-container {
    display: flex;
    justify-content: space-around;
    animation: pulse 2s infinite;
  }
