body {
    background-color: pink;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.foto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; /* adiciona espaço abaixo da imagem */
  width: 50%;
}


#carta {
    display: none;
    margin: 50px;
    padding: 50px;
    border: 2px solid black;
    text-align: center;
    animation: fadeIn 2s;
}


.botao-carta {
    display: block;
    width: 200px;
    height: 100px;
    margin: 20px auto;
    background-image: url('https://imagizer.imageshack.com/img924/7711/C4Q4f6.jpg');
    background-size: cover;
    border: none;
    color: white;
    font-size: 1.5em;
}

.carta-container {
  width: 300px; /* ajuste para a largura da sua imagem */
  height: 300px; /* ajuste para a altura da sua imagem */
  background: url("https://imagizer.imageshack.com/img924/3290/WqalnQ.png") no-repeat center center; 
  background-size: contain;
  position: relative;
  margin: auto;
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}
  
.heart {
  width: 100px;
  animation: pulse 2s infinite;
  margin-left: 10px; /* adiciona espaço à esquerda do coração */
  margin-right: 10px; /* adiciona espaço à direita do coração */
}

.icone {
  width: 50px; /* ajuste este valor para o tamanho desejado */
  margin: 0 20px; /* adiciona um espaço ao redor do ícone */
}


  .heart::before, .heart::after {
    content: "";
    position: absolute;
    top: 40px;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: red;
  }
  
  .heart::before {
    left: 50px;
    transform: rotate(-45deg);
  }
  
  .heart::after {
    left: 0;
    transform: rotate(45deg);
  }
  
  .heart-container {
    display: flex;
    justify-content: space-around;
    animation: pulse 2s infinite;
  }

  .btn-primary {
    margin-top: 150px; /* Ajuste este valor para mover o botão para baixo */
}

.foto-container {
  position: relative; /* isso faz com que a posição absoluta da imagem PNG seja relativa a este contêiner */
  display: flex;
  justify-content: center;
}

.foto {
  width: 45%; /* diminuir a largura pode ajudar a evitar sobreposição de imagens */
  margin: 5px; /* adiciona um pequeno espaço entre as imagens */
}

.icone {
  position: absolute; /* isto posiciona a imagem PNG absolutamente em relação ao contêiner das fotos */
  z-index: 1; /* isto garante que a imagem PNG fique no topo */
  width: 300px; /* ajuste este valor para o tamanho desejado */
  left: 50%; /* centraliza horizontalmente a imagem PNG */
  top: 50%; /* centraliza verticalmente a imagem PNG */
  transform: translate(-50%, -50%); /* ajusta a centralização para o centro da imagem PNG em vez de seu canto superior esquerdo */
}



/* Outros códigos... */

